 * { 
    margin: 0;      
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;   
} 
body{  
    height: 5000px; 
}  
 
:root { 
    --dark-blue: #0D0D2B;   
    --pink: #FB2E86;  
    --light-gray: #E0E0E0; 
} 
 
  
.Contact{  
    margin-top: 100px;  
      
} 
.p1{ 
    color: #d12170; 
}   

.header {   
    width: 100%; 
    background-color: white;   
   
     
    position: fixed;  
    top: 0;   
       
      
     
     padding: 15px 0;  
}  
 
.container { 
     max-width: 1200px;  
     width: 100%; 
    
     margin: 0 auto; 
    
     
    padding: 0 5%;  
    
    display: flex;  
    align-items: center;   
    justify-content: space-between;   
}
 
 
 
.logo {  
    font-size: 28px; 
    font-weight: 700; 
    color: var(--dark-blue);  
} 
 
 
.main-nav ul { 
    list-style: none; 
    display: flex; 
} 
   
.main-nav ul li a {   
    text-decoration: none;   
    font-size: 16px;   
    margin: 0 12px; 
    transition: color 0.3s; 
    display: inline-block; 
    padding: 5px 0;  
} 
   
 
.main-nav ul li a.active { 
    color: var(--pink);  
    font-weight: 600; 
} 
 
 
.main-nav ul li a:hover { 
    color: var(--pink);   
} 
 
.dropdown-arrow {  
    font-size: 0.6em; 
    margin-left: 4px;  
}  
 
   
.search-form {  
    display: flex; 
 
    border: 1px solid var(--light-gray);  
    border-radius: 2px; 
    overflow: hidden;  
} 
 
.search-input { 
    border: none;  
    padding: 8px 15px;   
    font-size: 14px; 
    width: 200px;  
    color: var(--dark-blue); 
}  
 
.search-input:focus {  
    outline: none;  
}    
 
.search-button { 
    background-color: var(--pink);  
    color: white; 
    border: none;  
    padding: 0 10px;  
    cursor: pointer; 
    font-size: 16px;  
    transition: background-color 0.3s; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}  
 
.search-button i {  
    font-size: 18px;   
}  
 
 .search-button:hover { 
    background-color: #d12170;  
}  

 